.invisible {
	display: none;
}

.visible {
	display: block;
}

.gameContainer {
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.secondaryPlayers {
	position: absolute;
	top: 0;
	width: 25%;
	height: 67%;
}

.lowerPlayer {
	position: absolute;
	top: 67%;
	height: 33%;
	width: 100%;
}

.playerHand{
	position: relative;
	width: 100%;
	height: 50%;
}

.playerPlay {
	position: relative;
	width: 100%;
	height: 50%;
	z-index: 1;
}

.playerPlay.active{
	border: 1px solid red;
}

.card {
	width: 7%;
	height: auto;
	max-height: 100%;
	max-width: 88px;
}

.storyContainer{
	position: absolute;
	top: 20px;
	width: 7%;
	height: auto;
	left: 30%;
}

.storyCard {
	width:100%;
}

.questContainer {
	position: absolute;
	top: 20px;
	left: 40%;
	width: calc(50% - 10px);
	bottom: 35%;
}

.stageContainer {
	width: calc(100% - 10px);
	height: 20%;
	border: 1px solid red;
}

.stageCard {
	height: 100%;
	width: auto;
}

#discard {
	position: absolute;
	top: 20px;
	height: 17%;
	left: 90%;
	width: calc(10% - 5px);
	max-width: 87px;
	border: 1px solid red;
}