.invisible {
	display: none;
}

.visible {
	display: block;
}

.gameContainer {
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.secondaryPlayers {
	position: absolute;
	top: 0;
	width: 25%;
	height: 67%;
}

.lowerPlayer {
	position: absolute;
	top: 67%;
	height: 33%;
	width: 100%;
}

.playerPlay, .playerHand{
	width: 100%;
	height: 50%;
}

.card {
	width: 7%;
	height: auto;
	max-height: 100%;
	max-width: 88px;
}

.storyContainer{
	position: absolute;
	top: 20px;
	width: 7%;
	height: auto;
	left: 30%;
}

.storyCard {
	width:100%;
}