<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="/stomp.min.js"></script>
		<link rel="stylesheet" type="text/css" href="game.css">
	</head>
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			    var playerIdx = /*[[${player}]]*/ 0;
			/*]]>*/
		</script>
		<h1>Game Start</h1>
		<h3 th:text="'You are player '+${player}"></h3>
		<button id="acceptButton" class='invisible'>Accept</button>
		<button id="declineButton" class='invisible'>Decline</button>
		<div id="playerContainer"></div>
		<div class="gameContainer">
			<div class="secondaryPlayers"></div>
			<div class="lowerPlayer">
				<div class="playerPlay"></div>
				<div class="playerHand"></div>
			</div>
			<div class='storyContainer'>
				<img id="drawStoryCard" class='storyCard' src='/Cards/Backs/Story.png'/>
				<img id="storyCard" class='storyCard'/>
			</div>
		</div>
		<script src="/gamePage.js"></script>
	</body>
</html>