<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="/stomp.min.js"></script>
		<link rel="stylesheet" type="text/css" href="game.css">
	</head>
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			    var playerIdx = /*[[${player}]]*/ 0;
			/*]]>*/
		</script>
		<div class="gameContainer">
			<div class="secondaryPlayers"></div>
			<div class="lowerPlayer">
				<div class="playerPlay"></div>
				<div class="playerInfo">
					<img class="rank"></img>
					<div class="shields"></div>
					<span class="battlePoints">Battle Points</span>
				</div>
				<div class="playerHand"></div>
			</div>
			<div class='storyContainer'>
				<img id="drawStoryCard" class='storyCard' src='/Cards/Backs/Story.png'/>
				<img id="storyCard" class='storyCard'/>
				<h4 id='prompt'></h4>
				<button id="acceptButton" class='invisible'>Accept</button>
				<button id="declineButton" class='invisible'>Decline</button>
			</div>
			<div class='questContainer'>
				<div id='stage0' class='stageContainer'></div>
				<div id='stage1' class='stageContainer'></div>
				<div id='stage2' class='stageContainer'></div>
				<div id='stage3' class='stageContainer'></div>
				<div id='stage4' class='stageContainer'></div>
			</div>
			<div id='discard'></div>
		</div>
		<script src="/gamePage.js"></script>
	</body>
</html>